

.div1{
    /* background-image: url(./images/img1.jpg);
    z-index: -1;
    filter:alpha(opacity=90);
    
    height: auto;
    max-width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    color: white; */
    position: relative;
}





/* .blur {filter: blur(4px);}
.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px green);} */




.wid {
    width: 75%;
    margin-left: 13%;
    
}

.overlay{
    
    bottom: 0px;
    height:100px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    width: 100%;
}
.stImp{
    
    margin-top: 8%;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: '.3em';
    /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
  
}
.sthub{
    text-shadow: 1px 1px 2px rgb(166, 193, 14);
    margin-top: 8%;
    margin-bottom: 8%;
    font-weight: 700;
    font-size: 40px;
    color:#080eb2;
}
.stlist{
    position: relative;
    list-style-type: none;;
    top:8;
    left: -3%;
    display: flex;
    flex-wrap: wrap;
    
    color:rgb(245, 245, 8);
    font-weight: 700px;
    font-size: 20px;
}
.stlist li{
    float:left;
    width:10em;
}










body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
body {

    inset: 0px;

}


@media(max-width:810px){
    .body1 h1{
        font-size: 1em;
    }
}
.logo_kpmg{
    width: 50%;
    height: 70%;
    /* object-fit: cover;
    object-position: 25% 25%; */
    margin-left: 20%;
    mix-blend-mode:normal;
}




.logo_kpmg{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.41);
    backdrop-filter: blur(15px);
    border: 1px solid #9CC2FC;
    display: grid;
    grid-template-columns: 1fr 1fr .8fr 1.2fr;
    grid-template-rows: 1fr .1fr;
}

/* .footer .dive{
     border: 1px solid;
    border-color: aquamarine; 
} */



.Body2{
    height:100%;
    width: 100%;
    background-color: #E6E7FC;
}

/* .griditem{
    /* border: 1px solid black; 
} */
.body1 {
    /* position: absolute;
width: 780px;
height: 110px;
left: 160px;
top: 50px; */

font-family: 'Be Vietnam';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 20%;
/* or 79px */

text-align: center;

color: #043C8C;

/* border: 1px solid #000000; */
}
.body1 h3{
    font-family: 'Be Vietnam';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color:black
}
.box{
    grid-column: span 2;
    /* background-color: #00b9ff; */
}

.container2 {
   border: 1px solid rgba(0, 0, 0, 0.11);
}
.container2 h1{
font-family: 'Be Vietnam';
font-style: normal;
font-weight: 900;
font-size: 35px;
margin: 0px;
margin-left: 2.5%;
/* line-height: 103.6%; */
/* or 50px */


color: #844CD6;
}
.impala{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 37px;
    margin-left: 4%;
}
.presto{
    /* background: url(figImg6.jpg); */
/* mix-blend-mode: color-burn; */
border: 5px solid #FFFFFF;
border-radius: 45px;
height: 90px;
}
.dive h1{
    font-family: 'Be Vietnam';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 37px;
letter-spacing: 0.09em;
text-transform: uppercase;

color: #FFFFFF;
margin-left: 10%;
margin-top: 0;
margin-bottom: 0;
margin-right: 0;
}

.click{
background: #223B95;
/* mix-blend-mode: color-burn; */
border: 10px solid #9c9ffc;
border-radius: 45px;
margin-top: 1%;

}
.dive h4 {
    margin-left: 10%;
margin-top: 5%;
margin-bottom: 0;
margin-right: 0;
}
.dive h6 {
    margin-left: 10%;
margin-bottom: 0;
margin-right: 0;
}
.extra{
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.body2 {
    /* position: absolute;
width: 780px;
height: 110px;
left: 160px;
top: 50px; */

font-family: 'Be Vietnam';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 20%;
/* or 79px */



color: #043C8C;

/* border: 1px solid #000000; */
}

.About{
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: stretch;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
  }